{%extends "base.html" %}
{%block title %}Home{% endblock %}


{% block content %}
<h1 align="center">Watermark</h1>
<div align="center" id="konva-holder"></div>
<br />
<form method="POST" enctype="multipart/form-data" align="center" action="/watermark">
    <input type="file" id="image_input" name="image" accept="image/*">
    <input type="submit" id="upload-image" value="Upload">
    <!-- <button id="insert_image" type="button" class="btn btn-info">Insert Image</button> -->
</form>
{% endblock %}